@charset "UTF-8";


@font-face {
    font-family: 'Rap';
    src: url('/Fontes/godofwar/GODOFWAR.TTF');
    font-weight: normal;
}

@font-face {
    font-family: 'Escrita';
    src: url('/Fontes/ananda_2/Ananda.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}
 


:root{
    --fonte-rap:'Rap';
    --fonte-escrita:'Escrita';
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-rap);
    font-size: 5vw;
    font-style: normal;
}

header > p {
    padding-bottom: 50px;
    font-size: 2vw;
}

section {
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 3,5em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-image: url('/imagens/42dbaee349e9358f948989b2dbb65c46.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.654); 
    background-attachment: fixed;
}

section.imagem > p {
    
    color:white;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.364);
    text-shadow: 2px 2px 0px black ;
    display: inline-block;
   
}

section.imagem02 {
    background-image: url('/imagens/Jesus-weeping-for-his-church.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.623); 
    background-attachment: fixed;
}
 
section.imagem02 > p {
    color: white;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.364);
    text-shadow: 2px 2px 0px black ;
    display: inline-block;
}



section > p {
    font-family: var(--fonte-escrita);
    font-style: none;
    font-size: 2em;
    padding-bottom: 3em;
   
}

/*imagens */



footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}





